/* Global input rules */
.input-group,
.password-input {
  position: relative;
}

.input-control {
  border: 1px solid #002147;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  width: 100%;
  color: var(--primary);
}
.input-control::placeholder {
  color: var(--primary-2);
}
.input-group.error .input-control::placeholder {
  color: var(--danger);
}

.input-control:disabled {
  border-color: var(--primary-disabled);
  color: var(--primary-disabled);
  -webkit-text-fill-color: var(--primary-disabled);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary) inset;
  -webkit-text-fill-color: #002147;
}

.input-control:focus {
  border: 1px solid transparent;
  outline: 2px solid #ff9900;
}

.animated-label {
  position: absolute;
  top: 7px;
  left: 5px;
  transform: translate(0, 0);
  color: var(--primary-2);
  font-size: 1rem;
  font-weight: 300;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.static-label,
.animated-label.active {
  position: absolute;
  left: 5px;
  top: -1px;
  color: #002147;
  transform: translate(0, -50%);
  padding: 0 0.2rem;
  background-color: #fbfbff;
  font-weight: 300;
}

.static-label.disabled,
.animated-label.active.disabled {
  color: var(--primary-disabled);
}

/* Radio input */
.radio-container {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5rem;
}
.radio-container.error {
  border-color: var(--danger);
}
.radio-container.disabled {
  border-color: var(--primary-disabled);
}

.radio-input-label {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0 0.2rem;
  font-size: 1rem;
  position: absolute;
  font-weight: 300;
  top: -10px;
}

.radio-input-label.disabled {
  color: var(--primary-disabled);
}

.radio-option {
  display: flex;
  gap: 0.25rem;
}

.radio-option-label {
  color: var(--primary);
  font-weight: 300;
}
.radio-option-label.disabled {
  color: var(--primary-disabled);
}

/* Select */
.select {
  background-color: var(--secondary);
}
/* Checkbox */
.check-box-label {
  font-size: 0.8rem;
  color: var(--primary);
}
.check-box-label.disabled {
  color: var(--primary-disabled);
}
.check-box-input {
  margin-right: 0.25rem;
}
.input-group.error .check-box-input {
  border-color: var(--danger);
}
/* Global errors */

.input-group.error .input-control {
  border: 1px solid var(--danger);
}
.input-group.error label,
.input-group.error select {
  color: var(--danger);
}

/* Password */

.password-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
