body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #002147;
  --primary-2: #002147f1;
  --primary-light: #e8ecf1;
  --primary-disabled: #002147bd;
  --primary-transparent: #00214711;
  --secondary: #fbfbff;
  --danger: red;
  --warning: #ffa500;
  --warning-transparent: #ffa60033;
  --info: #17a2b8;
  --info-transparent: #17a3b83b;
  --accent: #ff9900;
  --shadow: #8f8f8f;
  --skeleton: #e6e6e6;
  --skeleton-dark: #c4c4c4;
  --green: #007e00;
  --url: #0000ee;
}
